<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='icon' href='/images/favicon.ico' type='image/x-icon'/>
  </head>
  <body>
  	<h2>Foto de los autores</h2>

	<img src="/images/javierphoto.png" alt="mi foto">
	<img src="/images/juanphoto.jpg" height="100" width="100">
	

	<h2>Video Reciente</h2>
	<iframe width="640" height="360" src="https://www.youtube.com/embed/ngElkyQ6Rhs?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>


  	<h2>Correos:</h2>
  	 <p>Correo de <em>Juan Velasco Redondo:</em></p>
     <a href="mailto:j.velascor@alumnos.upm.es?subject=Practica%201">j.velascor@alumnos.upm.es</a>
     <p>Correo de <em>Javier Martínez Peche:</em></p>
     <a href="mailto:javier.martinez.peche@alumnos.upm.es?subject=Practica%201">javier.martinez.peche@alumnos.upm.es</a>
  

  
  </body>
</html>
