<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"><title> Preguntas </title> 

     <link type: 'text/css' rel='stylesheet' href='/stylesheets/style.css'/>
    
    <link type: 'text/css' media: 'only screen and (mid-width: 530px) and (min-device-width:481px)' rel='stylesheet' href='/stylesheets/wide.css'/>
    
    <link type: 'text/css' media: 'only screen and (max-width:480px)'rel='stylesheet' href='/stylesheets/smartphone.css'/>

</head>

<body>
<div id="page-wrap">
  <header>
    <h2> Quiz: El juego de las preguntas </h2> 
  </header> 

  <nav class="main" id="n1" role="navigation">
   <span><a href="/">Inicio</a></span>
   <span><a href="/quizes">Preguntas</a></span>

  </nav>

  <section class="main" id="s1">
      <div>
       <table>
        <tr><td><a href="quizes/1"> Capital de Italia</a></td></tr>
        <tr><td><a href="quizes/2"> Capital de Portugal</a></td></tr>

       </table>




      </div>
  </section>

  <footer class="main" id="f1">
    <a href="http://es.wikipedia.org/wiki/Quiz">
      ¿Qué es un Quiz?</a>
    <a href="https://github.com/jvelascore/Quiz.git">Cuenta GitHub: Juan Velasco Redondo</a>
    <a href="https://github.com/JavierMaPe/Quiz.git">Cuenta GitHub: Javier Martínez Peche</a>
  </footer>
  
</div>
</body>
</html>