<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='icon' href='/images/favicon.ico' type='image/x-icon'/>
  </head>
  <body>

    <p><%= respuesta %></p>
   <a href="/quizes/question"> Inténtalo otra vez </a>
  </body>
</html>
